.sc-intro-panel {
    text-shadow: 0px 0px 32px var(--color-accent-a);
    padding: 16px;
    border: 4px double var(--color-accent-b);
    border-radius: 4px;
    font-family: var(--font-mono);
    font-size: var(--font-size-label);
    letter-spacing: 0.05em;
    margin: 16px 8px 16px 16px;
    box-shadow: inset 0 0 8px var(--color-accent-b);
}